body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-container img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
}
